<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="Tailspin.Space.Game.Web.Models" value="https://lemuelvillegas.pkgs.visualstudio.com/5e6e74c5-8b12-48ee-b8ef-cc049dbbba65/_packaging/Tailspin.Space.Game.Web.Models/nuget/v3/index.json" />
  </packageSources>
</configuration>